*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 6px 16px;
    height: 100%;
    width: 78px;
    background: #251101;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
}

.sidebar .logo_content .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}

.logo_content .logo i{
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name{
    font-size: 28px;
    font-weight: 400;
}

.sidebar #button{
    position: absolute;
    color: white;
    left: 50%;
    top: 6px;
    font-size: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active #button{
    left: 90%;

}

.sidebar ul{
    margin-top: 20px;
}

.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar .link_name{
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #362418;
    padding-left: 50px;
    font-size: 18px;
    color: white;
}

.sidebar ul li .bx-search{
    padding: 15px 0 0 15px;
    position: absolute;
    z-index: 99;
    align-items: center;
    color: white;
    font-size: 22px;
    transition: all 0.5s ease;
}

/* .sidebar ul li .bx-search:hover{
    background: white;
    color: #362418;
} */

.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
}

.sidebar ul li a:hover{
    color: #251101;
    background: white;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .profile_content{
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile{
    font-weight: 300;
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.4s ease;
    background: #362418;
}

.sidebar .profile_content .profile:hover{
    background: white;
    color: #251101;
}

.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img{
    height: 45px;
    width: 45px;
    border-radius: 10px;
    object-fit: cover;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 18px;
    font-weight: 500;
}

.profile .profile_details .job{
    font-size: 12px;
}

.profile #log_out{
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.sidebar.active #log_out{
    left: 88%;

}



