*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: url('./music.jpg');
    background-size: cover;

}

#nav{
    width: 0px;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 50px;
    overflow: hidden;
    background: rgb(0,0,0,0.6);
    transition: 0.4s ease-in-out;
    clip-path: circle(70% at 0% 0%);
}

#nav .fa{
    padding-right: 20px;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    margin: 20px 40px;
}

#hamburger{
    position: absolute;
    color: rgb(206, 31, 31);
    top: 20px;
    left: 20px;
    font-size: 30px;
    z-index: 1;
    transition: 0.4s ease-in-out;
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero{
    color: white;
    padding: 50px;
    font-size: 30px;
    transform: translate(0px, 120%);
    transition: 0.4s ease-in-out;
}

